h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;

  line-height: 1.5;
}

li {
  font-size: 20px;
}

/*footer p {
  font-size: 16px;
}*/

/*header p {
  font-style: italic;
}*/
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 15px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/*ul {
  list-style: none;
}*/

.related-bullet {
  list-style: none;
}

.main-header {
  background-color: #faefef;
}

aside {
  background-color: #faefef;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/*body {
  
}*/

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/*li:nth-child {*/
/*this will not work
article p:last-child {
  color: red;
}*/
a:link {
  color: #1098ad;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline red;
}

a:active {
  background-color: black;
  font-style: italic;
}
