* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
  position: relative;
}
.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;

  padding: 20px 40px;
  /*margin-bottom: 60px;*/
  height: 80px;
}

nav {
  text-align: center;
}

article {
  /*margin-bottom: 60px;*/
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

/*footer p {
  font-size: 16px;
}*/

/*header p {
  font-style: italic;
}*/
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 15px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/*ul {
  list-style: none;
}*/

.related-bullet {
  list-style: none;
}

.related {
  list-style: none;
  margin-left: 0;
}
/*body {
  
}*/

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/*li:nth-child {*/
/*this will not work
article p:last-child {
  color: red;
}*/
a:link {
  color: #1098ad;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  margin-right: 30px;

  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  /*top: 0;
  left: 50px;*/
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: 25px;
}

/* float*/
/*
.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
 
  float: left;
  padding-top: 10px;
  margin-left: 20px;
}
h1 {
  float: left;
  padding-top: 10px;
}

nav {
  float: right;
}
.clear {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
}
*/
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
  text-decoration: none;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

/*

flexbox
.row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 60px;
  
}

article {
  flex: 1;
  margin-bottom: 0;
}

aside {
  flex: 0 0 300px;
}
*/

/*css grid code */

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}

.main-header {
  grid-column: 1 / -1;
  /*grid-column: 1 / span 2;*/
}

artical {
}

aside {
}

footer {
  grid-column: 1 / -1;
}
